# Python
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
env/
*.env

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log

# Model and Data
*.h5
*.keras
dataset/
test_images/

# IDE Files
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db
